<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutzerklärung</title>
    <link rel="stylesheet" href="/static/css/dataProtection.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="/static/js/dataProtection.js"></script>

</head>

<body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">OHmegaIT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home/upcomingEvents/">Termine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home/friendzone">Freundschaftskreis</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" id="userName" href="#"></a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-danger" id="userNaame">Abmelden</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </nav>
    <header>
        <h1 class="text-center mt-3">Datenschutzerklärung für OHmegaIT</h1>
    </header>
    <main class="m-5">
        <section>
            <h2>Welche Daten wir sammeln</h2>
            <p>Persönliche Identifikationsinformationen:</p>
            <p>Bei der Nutzung unserer Dienste können wir Sie bitten, uns bestimmte persönliche Daten zur Verfügung zu
                stellen, die zur Identifizierung Ihrer Person verwendet werden können. Diese Informationen können Ihren
                Namen, Ihre E-Mail-Adresse, Ihre Telefonnummer und andere relevante Kontaktdaten umfassen.</p>
            <p>Informationen zur Nutzung der Dienste:</p>
            <p>Wir erfassen automatisch Informationen darüber, wie Sie unsere Dienste nutzen, einschließlich Ihrer
                IP-Adresse, des Browsertyps, der Seiten, die Sie besuchen, und der Zeit, die Sie auf diesen Seiten
                verbringen.</p>
        </section>
        <section>
            <h2>Wie wir Ihre Daten verwenden</h2>
            <p>Wir verwenden Ihre Daten, um Ihnen unsere Dienste bereitzustellen, Ihre Anfragen zu bearbeiten, auf Ihre
                Fragen zu antworten und unsere Dienste zu verbessern. Wir verwenden Ihre Informationen auch, um Sie über
                wichtige Änderungen oder Angebote zu informieren, sofern Sie dem zugestimmt haben.</p>
        </section>
        <section>
            <h2>Datenweitergabe an Dritte</h2>
            <p>Wir geben Ihre persönlichen Daten nur dann an Dritte weiter, wenn dies zur Erfüllung unserer
                vertraglichen Verpflichtungen erforderlich ist oder wenn wir gesetzlich dazu verpflichtet sind.</p>
        </section>
        <section>
            <h2>Datensicherheit</h2>
            <p>Wir setzen angemessene Sicherheitsmaßnahmen ein, um Ihre persönlichen Daten zu schützen und unbefugten
                Zugriff, unbefugte Offenlegung oder unbefugte Änderungen zu verhindern.</p>
        </section>
        <section>
            <h2>Ihre Rechte</h2>
            <p>Sie haben das Recht, Ihre persönlichen Daten einzusehen, zu korrigieren oder zu löschen. Bitte
                kontaktieren Sie uns, wenn Sie von diesen Rechten Gebrauch machen möchten.</p>
        </section>
        <section>
            <h2>Änderungen dieser Datenschutzerklärung</h2>
            <p>Diese Datenschutzerklärung kann von Zeit zu Zeit aktualisiert werden. Wir empfehlen Ihnen, diese Seite
                regelmäßig zu überprüfen, um über Änderungen informiert zu bleiben.</p>
        </section>
        <section>
            <h2>Kontaktieren Sie uns</h2>
            <p>Wenn Sie Fragen zu dieser Datenschutzerklärung haben, können Sie uns unter [Kontaktinformationen]
                erreichen.</p>
        </section>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 OHmegaIT</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="/impressum/">Impressum</a></li>
            <li class="ms-3"><a class="text-body-secondary"
                    href="/datenschutz/">Datenschutzrichtlinien</a></li>
        </ul>
    </footer>
</body>

</html>