<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/upcomingEvents.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="/static/js/upcomingEvents.js"></script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OHMegaIT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Termine</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home/friendzone">Freundschaftskreis</a>
                </li>
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">username</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-danger" id="userNaame">Abmelden</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

<h2 class="text-center">Event Termine</h2>

<div class="text-center">
    <a href="#" class="headlinesNav" style="text-decoration:underline;">Anstehend</a>
    <a href="/home/requests/" class="headlinesNav" >Anfragen</a>
    <a href="/home/create/event/" class="headlinesNav">Event erstellen</a>
</div>

<main>
    <div class="filters text-center">
        <select class="filter-select">
            <option value="">Alle Sportarten</option>
            <option value="fussball">Fußball</option>
            <option value="basketball">Basketball</option>
            <option value="volleyball">Volleyball</option>
            <option value="volleyball">sonstige</option>
        </select>
        <input type="text" id="searchInput" placeholder="Suche nach Namen...">
        <button onclick="applyFilters()" class="btn btn-primary">Filter anwenden</button>
    </div>
</main>

<div class="container w-100 pt-4">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 bg-light border rounded mr-3" style="--bs-gap: .25rem 1rem;">
            <h2 class="text-center">Veranstaltung1</h2>
            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Datum:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        01.02.2024
                    </div>
                </div>
            </div>

            <div class="event-details container ">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Ort:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        Musterstadt
                    </div>
                </div>
            </div>
            <div class="event-details container ">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Details:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <button class="buttonIcon">
                            <i class="fa-thin fa-square-info">&#9432;</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 bg-light border rounded mr-3" style="--bs-gap: .25rem 1rem;">
            <h2>Veranstaltung2</h2>
            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Datum:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        01.02.2024
                    </div>
                </div>
            </div>

            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Ort:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        Musterstadt
                    </div>
                </div>
            </div>
            <div class="event-details container ">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Details:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <button class="buttonIcon">
                            <i class="fa-thin fa-square-info">&#9432;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 bg-light border rounded mr-3 ">
            <h2>Veranstaltung3</h2>
            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Datum:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        01.02.2024
                    </div>
                </div>
            </div>

            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Ort:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        Musterstadt
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 bg-light border rounded mr-3 ">
            <h2>Veranstaltung4</h2>
            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Datum:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        01.02.2024
                    </div>
                </div>
            </div>

            <div class="event-details container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        Ort:
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        Musterstadt
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="nextEvents mt-3">
    <a href="#" class="previous round">&#8249;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="next round">&#8250;</a>
</div>

<!-- PopUp -->
<div id="overlay">
    <div id="popup" style="height: 80vh; overflow: auto;">
        <div class="container w-100 pt-4">
            <div class="row">
                <h3 class="text-center">Eventname</h3>
                <div class="col-lg-6 col-sm-12 mr-3 mt-3">
                    <div class="event-details container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Adresse:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Musterst. 1</p>
                                <p>12345 Musterstadt</p>
                            </div>
                        </div>
                    </div>

                    <div class="event-details container ">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Beschreibung:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mr-3 mt-3">
                    <div class="event-details container mb-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Datum:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                01.02.2024
                            </div>
                        </div>
                    </div>

                    <div class="event-details container mb-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Uhrzeit:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                mm:hh - mm:hh
                            </div>
                        </div>
                    </div>

                    <div class="event-details container mb-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Gruppe:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                Lorem ipsum
                            </div>
                        </div>
                    </div>

                    <div class="event-details container mb-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                Teilnehmeranzahl:
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                10
                            </div>
                        </div>
                    </div>
                </div>

                <div id="popupComments" class="mt-4">
                    <hr>
                    <h3 class="text-center">Kommentare</h3>
                    <section style="background-color: #eee;">
                        <div class="container my-5 py-5">
                            <div class="row d-flex ">
                                <div class="col-md-12 col-lg-10 col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-start align-items-center">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                                    alt="avatar" width="60" height="60" />
                                                <div>
                                                    <h6 class="fw-bold text-primary mb-1">Lily Coleman</h6>
                                                </div>
                                            </div>

                                            <p class="mt-3 mb-4 pb-2">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary mt-2 float-end" onclick="addNewComment()"
                                        id="newCommentButton"> neues Kommentar</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <button class="btn btn-primary" onclick="closePopup()">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div id="gdpr-thing">
    <div class="mb-4">
    <h3 class="text-center">Cookie-Hinweis</h3>
    Wir verwenden Cookies, um Ihnen das bestmögliche Online-Erlebnis zu bieten. Durch die Nutzung unserer Website erklären Sie sich mit der Verwendung von Cookies gemäß unserer Cookie-Richtlinie einverstanden. 
    Diese Cookies sind für das Funktionieren der Website unerlässlich und werden automatisch aktiviert, sobald Sie unsere Seite besuchen.
    <a href="/datenschutz/">Mehr Informationen</a>
    </div>
 
    
    <button class="btn btn-outline-primary outline-primary position-absolute bottom-0 end-0  mb-4 me-4 col-lg-2 col-sm-10" type="button" id="consent-button"> Ok
    </button>
  </div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024 OHmegaIT</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="/impressum/">Impressum</a></li>
        <li class="ms-3"><a class="text-body-secondary"
                href="/datenschutz/">Datenschutzrichtlinien</a></li>
    </ul>
</footer>
</body>

</html>